@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300&family=Montserrat&display=swap');


   

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    text-align: left;
    font-weight: 400;
    font-size: 150%;
}

/* headings and logo */
h1, h2 {
    font-weight: 600;
    color: #0339A6;
    letter-spacing: 3px;
  

}

#logo {
    font-family: 'Arima Madurai', cursive;
    font-size: 250%;
    text-align: center;
    padding-top: 70px;
    margin-top: 30px;
    letter-spacing: 2px;

}

/* navigation links */
#menu {
    font-size: 110%;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Arima Madurai', cursive;
    color: #0339A6;

}
   
#menu li {
    float: right;
    list-style-type: none;
    margin: 10px 30px;
    letter-spacing: 1px;

}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 1px double #F2B84B;
}

active { 
    border-bottom: 1px double #F2B84B;

}

/* introduction image */
#introduction-image {
    height: auto;
    max-width: 50px;
   margin: 50px;
   padding: 50px;
    display:flex;
}

/* main container */
#main-container {
    margin:20px;
    padding:10px;
    border: none;
}



/* first section */
#first-section {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    text-align: left;
}

